{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="projects" class="projects-section center-column">
        <h2>Projects</h2>

        <div class="projects-list">
            <!--All the Cards-->
            {% for projects in projects_list %}
            <div class="project-card">
                <a href="{{project.repository}}" target="_blank">
                    <img src="{% static 'img/picture-1.jpg' %}">
                    <p>{{project.name}}</p>
                    <p>{{project.description}}</p>
                    <p>{{project.year}}</p>

                    <div class="skills-container center">
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                        <label class="text-label">Skill</label>
                    </div>
                </a>
            </div>
            {%endfor%}
            </div>
    </section>
{% endblock content %}