{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="projects" class="projects-section center-column">
        <h2>Projects</h2>

        <div class="projects-list">
            <!--All the Cards-->
            {% for project in projects_list %}
            <div class="project-card">
                <a href="{{project.repository}}" target="_blank">
                    <img class="project-img" src="{{project.image.url}}" alt="Project Image" class="project-image">
                    <p>{{project.name}}</p>
                    <p>{{project.description}}</p>
                    <p>{{project.year}}</p>

                    <div class="skills-container center">
                        <label class="text-label">HTML</label>
                        <label class="text-label">CSS</label>
                        <label class="text-label">Javascript</label>
                        <label class="text-label">React</label>
                    </div>
                </a>
            </div>
            {%endfor%}
            </div>
    </section>
{% endblock content %}